<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
      aria-controls="nav-home" aria-selected="true">Leaderboard</a>
  {{#if isLoggedIn}}
    <a class="nav-item nav-link" id="nav-matches-tab" data-toggle="tab" href="#nav-matches" role="tab"
      aria-controls="nav-profile" aria-selected="false">Next game</a>
  {{/if}}
    {{#if isLoggedIn}}
    <a class="nav-item nav-link" id="nav-scorer-tab" data-toggle="tab" href="#nav-scorer" role="tab"
      aria-controls="nav-profile" aria-selected="false">Top Scorers</a>
  {{/if}}

    {{!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
      aria-controls="nav-contact" aria-selected="false">Noticias</a> --}}
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="container">
      <br> <br>
      <h2>{{matches.[1].league.name}} <img src="{{matches.[1].league.logo}}" width="50px" alt=""> </h2>

      {{!-- <img src="{{standings.[0].logo}}" alt=""> --}}
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Equipo</th>
            <th scope="col">PTS</th>
            <th scope="col">G</th>
            <th scope="col">E</th>
            <th scope="col">P</th>
            <th scope="col">DG</th>
            <th scope="col">PJ</th>
          </tr>
        </thead>
        <tbody>

          {{#each standings}}
          <tr class="">
            {{!--
          <tr class="table-success"> --}}

            <td>{{rank}}</td>
            <td> <img src="{{team.logo}}" width="25px"> {{team.name}}</td>
            <td>{{points}}</td>
            <td>{{all.win}}</td>
            <td>{{all.draw}}</td>
            <td>{{all.lose}}</td>
            <td>{{goalsDiff}}</td>
            <td>{{all.played}}</td>

          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if isLoggedIn}}
    {{!-- <div class="tab-pane fade" id="nav-matches" role="tabpanel" aria-labelledby="nav-matches-tab"> --}}

  <div class="tab-pane fade" id="nav-matches" role="tabpanel" aria-labelledby="nav-matches-tab">
    <div class="container" style="text-align:center">
       <h2>{{matches.[1].league.name}} <img src="{{matches.[1].league.logo}}" width="50px" alt=""> Next 20 Matches</h2>
    <div class="match-container">
      {{#each matches}}
      <div class="card style=" style="width: 18rem; margin-top: 15px; margin-bottom: 15px">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{fixture.date}}</li>
          <li class="list-group-item">{{league.round}}</li>
          <li class="list-group-item"> <img src="{{teams.home.logo}}" alt="" width="15px"> {{teams.home.name}}</li>
          <li class="list-group-item"> <img src="{{teams.away.logo}}" width="15px" alt=""> {{teams.away.name}}</li>
          <li class="list-group-item">{{fixture.venue.name}}</li>
        
        </ul> 
      </div>

      {{/each}}
    </div>
  </div>
</div>
  {{/if}}

  {{#if isLoggedIn}}
  <div class="tab-pane fade" id="nav-scorer" role="tabpanel" aria-labelledby="nav-scorer-tab">
    <div class="container" style="text-align:center">
       <h2>{{matches.[1].league.name}} <img src="{{matches.[1].league.logo}}" width="50px" alt=""> Top Scorers</h2>

       <table class="table">
            <thead>
            <tr>
              <th scope="col">Goals</th>
              <th scope="col">Name</th>
              <th scope="col">Team</th>
            </tr>
            </thead>
            <tbody>
         
        {{#each topScorers}}
            <tr>
              <th scope="row">{{statistics.[0].goals.total}}</th>
              <td>{{player.name}} <img style="height: 20px" src="{{player.photo}}"> </td>
              <td>{{statistics.[0].team.name}}</td>
            </tr>
          {{/each}}
            </tbody>
            </table>
    </div>
  </div>
  {{/if}}
  </div>

</div>
