<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6">
            <h1>Edit User Account</h1>
            <br>
            <form action="/users/edit-profile" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">New user name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">New user Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{email}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="img">New user image</label>
                    <img src="#" alt="imagen del perfil">
                    <input type="text" class="form-control" id="img" name="img">
                </div>
                {{!-- <div class="form-row">
                    <h2>Selecciona tu equipo favorito</h2>
                    <div class="form-group col-md-12">
                        <label for="country">Pais:</label>
                        <select name="country" class="form-control" id="country">
                            <option>Seleccionar</option>
                            {{#each allParks}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div> --}}
                {{!-- <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="league">Liga:</label>
                        <select name="league" class="form-control" id="league">
                            <option>Seleccionar</option>
                            {{#each allParks}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div> --}}
                    {{!-- <div class="form-group col-md-6">
                        <label for="team">Equipo:</label>
                        <select name="team" class="form-control" id="team">
                            <option>Seleccionar</option>
                            {{#each allParks}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div> --}}

                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label" for="journalist">
                            <input class="form-check-input" type="checkbox" value="true" name="journalist">
                            <p>Are you a journalist? Do you want to be part of the FootScore family by writing the news
                                of your favorite team? Activate the checkbox</p>
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark btn-block"> Update Account </button>
            </form>

        </div>
    </div>
</div>