
{{userTeam.name}}
<img src="{{userTeam.logo}}" style="height: 50px;">

<div class="container">
                <br> <br>
                <h2>{{matches.[1].league.name}} <img src="{{matches.[1].league.logo}}" width="50px" alt=""> </h2>
                 
                {{!-- <img src="{{standings.[0].logo}}" alt=""> --}}
                <br>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">PTS</th>
                        <th scope="col">G</th>
                        <th scope="col">E</th>
                        <th scope="col">P</th>
                        <th scope="col">DG</th>
                        <th scope="col">PJ</th>
                      </tr>
                    </thead>
                    <tbody>

                      {{#each standings}}
                      <tr class="">
                      {{!-- <tr class="table-success"> --}}

                        <td>{{rank}}</td>
                        <td> <img src="{{team.logo}}" width="25px"> {{team.name}}</td>
                        <td>{{points}}</td>
                        <td>{{all.win}}</td>
                        <td>{{all.draw}}</td>
                        <td>{{all.lose}}</td>
                        <td>{{goalsDiff}}</td>
                        <td>{{all.played}}</td>

                      </tr>
                      {{/each}}
                    </tbody>
                  </table>      
            </div>


              {{#each matches}}
            <div class="card style=" style="width: 18rem;">
                    <ul class="list-group list-group-flush" >
                      <li class="list-group-item">{{fixture.date}}</li>
                      <li class="list-group-item"> <img src="{{teams.home.logo}}" alt="" width="15px" > {{teams.home.name}}</li>
                      <li class="list-group-item"> <img src="{{teams.away.logo}}" width="15px" alt=""> {{teams.away.name}}</li>
                    </ul>
                </div>
                {{/each}}
            </div>


