
{{userTeam.name}}
<img src="{{userTeam.logo}}" style="height: 50px;">

<div class="container">
                <br> <br>
                <h2>{{matches.[1].league.name}} <img src="{{matches.[1].league.logo}}" width="50px" alt=""> </h2>
                 
                {{!-- <img src="{{standings.[0].logo}}" alt=""> --}}
                <br>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">PTS</th>
                        <th scope="col">G</th>
                        <th scope="col">E</th>
                        <th scope="col">P</th>
                        <th scope="col">DG</th>
                        <th scope="col">PJ</th>
                      </tr>
                    </thead>
                    <tbody>

                      {{#each standings}}
                      <tr class="">
                      {{!-- <tr class="table-success"> --}}

                        <td>{{rank}}</td>
                        <td> <img src="{{team.logo}}" width="25px"> {{team.name}}</td>
                        <td>{{points}}</td>
                        <td>{{all.win}}</td>
                        <td>{{all.draw}}</td>
                        <td>{{all.lose}}</td>
                        <td>{{goalsDiff}}</td>
                        <td>{{all.played}}</td>

                      </tr>
                      {{/each}}
                    </tbody>
                  </table>      
            </div>
      {{#if topScorers}}
       <table class="table">
            <thead>
            <tr>
              <th scope="col">Goals</th>
              <th scope="col">Name</th>
              <th scope="col">Team</th>
            </tr>
            </thead>
            <tbody>
         
     {{#each topScorers}}
            <tr>
              <th scope="row">{{statistics.[0].goals.total}}</th>
              <td>{{player.name}} <img style="height: 20px" src="{{player.photo}}"> </td>
              <td>{{statistics.[0].team.name}}</td>
            </tr>
              {{/each}}
            </tbody>
            </table>
              {{/if}}

              {{#each matches}}
            <div class="card style=" style="width: 18rem;">
                    <ul class="list-group list-group-flush" >
                      <li class="list-group-item">{{fixture.date}}</li>
                      <li class="list-group-item"> <img src="{{teams.home.logo}}" alt="" width="15px" > {{teams.home.name}}</li>
                      <li class="list-group-item"> <img src="{{teams.away.logo}}" width="15px" alt=""> {{teams.away.name}}</li>
                    </ul>
                </div>
                {{/each}}


            <div class="card" style="width: 12rem;">
              <img class="card-img-top" src="{{teamCoach.photo}}" alt="aaa">
              <div class="card-body">
                <p class="card-text"> Name: {{teamCoach.name}} </p>
                <p class="card-text"> Nationality: {{teamCoach.nationality}} </p> 
                <p class="card-text">Age: {{teamCoach.age}}</p>
              </div>
            </div>


              {{#each teamPlayers}}
            <div class="card" style="width: 12rem;">
              <img class="card-img-top" src="{{photo}}" alt="aaa">
              <div class="card-body">
                <p class="card-text"> Name: {{name}} </p>
                <p class="card-text"> Position: {{position}} </p> 
                <p class="card-text">Age: {{age}}</p>
              </div>
            </div>
          {{/each}}

              {{#each lastMatches}}
          <div class="card style=" style="width: 18rem;">
            <ul class="list-group list-group-flush" >
            <li class="list-group-item">{{fixture.date}}</li>
            <li class="list-group-item"> <img src="{{teams.home.logo}}" alt="" width="15px" > {{teams.home.name}} <b> {{goals.home}} </b> </li>
            <li class="list-group-item"> <img src="{{teams.away.logo}}" width="15px" alt=""> {{teams.away.name}} <b>{{goals.away}}</b></li>
          </ul>
      </div>
      {{/each}}

      <img src="{{teamInfo.team.logo}}">
      <p> Founded: {{teamInfo.team.founded}} </p>
      <h4> Stadium: {{teamInfo.venue.name}} </h4>
      <p> Adress: {{teamInfo.venue.address}} City: {{teamInfo.venue.city}}</p>
      <p> Capacity: {{teamInfo.venue.capacity}}</p>
      <p> Surface: {{teamInfo.venue.surface}}</p>
      <img src="{{teamInfo.venue.image}}">






        


</div>


