<div class="container">


    <div class="row justify-content-center">

        <div class="col-md-4">

            <h2>Welcome journalist {{author}}</h2>
            <br>

            <form action="/article/write-new" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="headline">
                        <h3>Headline</h3>
                    </label>
                    <input type="text" class="form-control" id="headline" name="headline"
                        placeholder="Write your headline here">
                </div>
                <div class="form-group">
                    <label for="comment">
                        <h3>Breaking New</h3>
                    </label>
                    <textarea name="comment" rows="10" cols="44"
                        placeholder="Tell to FootScore Community something awesome about {{team}}!"></textarea>
                </div>

                <div>
                    <label>
                        <h2>Load an image of your news</h2>
                        <input type="file" name="img">
                    </label>
                </div>
                <hr>
                <div>
                    <p>
                        This is a news about {{team}}, written by {{name}} as of {{date}}
                    </p>
                </div>
                <hr>
                <button type="submit" class="btn btn-dark btn-block">Send New</button>
            </form>

            {{#if errorMsg}}
            <p id="errorMessage">{{errorMsg}}</p>
            {{/if}}
        </div>
    </div>


</div>